<!-- <h1>Links#new</h1>
<p>Find me in app/views/links/new.html.erb</p> -->

<h2> Add a link to the <%= @category.name %> category </h2>

<%= render "form" %>

<!-- <%= simple_form_for [@category, @link] do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :url %>

  <%= f.button :submit %>

  <% end %> -->
